{% extends 'base.html' %} 
{% block content %}

<title>SocialEar About</title>
<div class="container">
    <form action="">
        <div class="mb-3">
            <div id="contenido">
                <h1>información SocialEar</h1>
                <p>La mayoría de las organizaciones o empresas en la actualidad no cuentan con la capacidad de medir, evaluar y analizar la cantidad tan masiva de opiniones que suelen dejar los empleados de su organización en las redes sociales, por lo que nosotros SocialEar nos encargamos de hacer estos análisis para poder informar a cierta empresa sobre qué opinan sus empleados sobre su ambiente de trabajo.</p>
                <p>Visión del producto: El propósito de nuestro servicio es poder analizar, evaluar y medir las opiniones de los empleados de cierta empresa en las redes sociales sobre su ambiente de trabajo y demás características de la empresa.</p>
                <p>Características clave: Las principales características que tenemos planeado en nuestro software es un programa capaz de recorrer la sección de reacciones y comentarios, a medida que encuentra cierta reacción o cierto comentario va sumando a una estadística que ya puede ser negativa o positiva.</p>
            </div>
        </div>
    </div>    
    </div>
    <br/>
    <br /> 
    <br /> 
</div>

{% endblock content %}